body {
	background-color: #1a63af;
}

.jumbotron {
	background-color: blue; 
	color: white;
}
.panel-primary .panel-heading {
	background-color: rgba(224, 43, 51, 0.97);
}

.thomas {
	float:left;
	width:100px;
	height: 80px;
	
}

.heading1 {
	float:left;
	width: 80%;
}

.percy {
	width:100px;
	height: 80px;
}

.heading2 {
	float:none;
}

.tableHeadings, .panel-title {
	font-weight: bold;
}